<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<!--css-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	

	<title>Cursos</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cursos">VER CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registrar">CREAR NUEVO CURSO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inscribir">INSCRIBIR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ListaInscripciones">VER INSCRITOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Login">INICIAR SESION</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
  <div class="container">





</body>
</html>