{{>header}}

  <!-- Content here -->
<h1> Bienvenidos </h1>

<form action="/cursos" method="post">

	
 <img src="img/principal.jpg" width="1000px">
     
<br>
<br>
<p class="fw-lighter">Nuestro objetivo es formar ciudadanos participativos para la sociedad del conocimiento.</p>


 {{>footer}}